/*
	Flat UI Icons
*/

@font-face {
	font-family: 'TB-Icons';
	src: url('../fonts/tombullough.eot');
	src: url('../fonts/tombullough.eot?#iefix') format('embedded-opentype'), url('../fonts/tombullough.woff') format('woff'), url('../fonts/tombullough.ttf') format('truetype'), url('../fonts/tombullough.svg#TB-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.tbi-vimeo, .tbi-facebook, .tbi-twitter, .tbi-golf, .tbi-contact, .tbi-video,
.tbi-articles, .tbi-testimonials, .tbi-about, .tbi-services, .tbi-cog, .tbi-shop,
.tbi-tick, .tbi-tick-circles, .tbi-tick-outline, .tbi-top, .tbi-calendar, .tbi-menu {
	display: inline-block;
	font-family: 'TB-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.tbi-vimeo:before { content: "\e801";}
.tbi-facebook:before { content: "\e802";}
.tbi-twitter:before { content: "\e800";}
.tbi-golf:before { content: "\e803";}
.tbi-contact:before { content: "\e804";}
.tbi-video:before { content: "\e805";}
.tbi-articles:before { content: "\e806";}
.tbi-testimonials:before { content: "\e807";}
.tbi-about:before { content: "\e808";}
.tbi-services:before { content: "\e809";}
.tbi-cog:before { content: "\e80A";}
.tbi-tick:before { content: "\e80D";}
.tbi-tick-circles:before { content: "\e80B";}
.tbi-tick-outline:before { content: "\e80C";}
.tbi-top:before { content: "\e80E";}
.tbi-calendar:before { content: "\e80F";}
.tbi-menu:before { content: "\e810";}
.tbi-shop:before { content: "\e811";}





/*
	Form
*/

textarea,
input[type="email"],
input[type="text"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	font-family: 'latoregular', sans-serif;
}

textarea { resize: vertical; }





/*
	General Styles
*/

body {
	font-family: 'latoregular', sans-serif;
	line-height: 1.6em;
	margin: 0 auto;
	padding: 0;
}

h1, h2 {
	color: #64BB5D;
	font-family: 'benchnineregular', sans-serif;
	text-transform: uppercase;
}

h2 {
	font-size: 36px;
	margin: 0 0 1em;
}

p { margin: 0 0 1em; }

.clear {
	clear: both;
	float: none;
}

#container {
	background-color: #FFF;
	border-top: 5px solid #64BB5D;
	margin-top: 470px;
	position: relative;
	z-index: 1;
}

.container {
	margin: 0 auto;
	padding: 55px 20px;
	position: relative;
	max-width: 900px;
}

#navigation .container { padding: 15px 20px; }





/*
	Background Colours
*/

#about { padding-top: 35px; }

#about,
#testimonials,
#golf,
#shop { background-color: #EEE; }





/*
	Photo Background
*/

#background {
	background: #40444C url('../img/backgroundTile.png') repeat-x;
	height: 370px;
	overflow: hidden;
	position: fixed;
	top: 100px;
	width: 100%;
	z-index: -1;
}

#background .container {
	background: transparent url('../img/background.jpg') 100% 0 no-repeat;
	height: 370px;
}

#background h1 {
	font-size: 60px;
	line-height: 60px;
}





/*
	Navigation
*/

#navigation {
	background-color: transparent;
	height: 100px;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 2;
}

#navigation .container { padding: 15px 0; }

#navigation .navigationBand {
	background-color: #333;
	height: 100px;
	width: 100%;
}

#logo {
	display: block;
	left: 20px;
	position: absolute;
	top: 15px;
}

#menu {
	left: 40%;
	position: absolute;
	top: 24px;	
	width: 20%;
	min-width: 46px;
}

.menuBand {
	background-color: #FFF;
	border-bottom: 5px solid #64BB5D;
	height: 0;
	overflow: hidden;
	position: relative;
	top: -5px;

	-webkit-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
}

.openMenu .menuBand { height: 137px; }

.menuBand a {
	float: left;
	margin: 0 1% 12px;
	padding: 10px 1% 14px;
	width: 21%;
}

#toTop {
	bottom: 20px;
	display: none;
	position: fixed;
	right: 10px;
	z-index: 10;
}





/*
	Section Icons
*/

.sectionIcon {
	left: 50%;
	position: absolute;
	top: -35px;
	width: 0;
	z-index: 3;
}

.sectionIcon span {
	background-color: #EEE;
	border-radius: 35px;
	color: #64BB5D;
	font-size: 23px;
	height: 70px;
	left: -35px;
	line-height: 70px;
	position: relative;
	text-align: center;
	width: 70px;
}





/*
	Articles & Golf
*/

.article {
	border-bottom: 1px solid #EEE;
	margin: 0 0 40px;
	padding: 0 0 40px;
}

#golf .article { border-bottom: 1px solid #FFF; }

.article:last-child,
#golf .article:last-child { border: 0 none; }

.articleSubTitle {
	font-size: 18px;
	font-family: 'latobold', sans-serif;
	font-weight: 700;
}





/*
	Testimonials
*/

.testimonial {
	border-bottom: 1px solid #FFF;
	margin: 0 0 40px;
	padding: 0 0 40px;
}

.testimonial:last-child { border: 0 none; }

.testimonialPhoto {
	float: left;
	margin: 0 5% 0 0;
	width: 10%;
}

.testimonialPhoto img {
	border: 2px solid #64BB5D;
	border-radius: 38px;
	max-width: 100%;
}

.testimonialInformation {
	float: left;
	margin: 0 5% 0 0;
	width: 35%;
}

.testimonialContent {
	float: left;
	width: 45%;
}

.testimonialContent p { text-align: justify; }

.testimonialSubTitle {
	font-family: 'latobold', sans-serif;	
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 20px;
}

.testimonialBrief { color: #64BB5D; }





/*
	Services
*/

.servicesList {
	list-style: none outside;
	margin: 40px 0;
	padding: 0;

	-moz-column-count: 4;
	-webkit-column-count: 4;
	-moz-column-gap: 0;
	-webkit-column-gap: 0;
}

.servicesList span {
	color: #64BB5D;
	padding: 0 10px 0 0;
}

.service {
	border-top: 1px solid #EEE;
	margin: 40px 0 0;
	padding: 40px 0 0;
}

.service h3 {
	font-family: 'latobold', sans-serif;
	font-weight: 700;
	margin: 0 0 20px;
}

.serviceArrange {
	float: right;
	margin: 24px 0 0;
	width: 170px;
}





/*
	Videos
*/

#videos ul {
	list-style: none outside;
	margin: 0;
	padding: 0;
}

#videos ul li {
	float: left;
	margin: 0 5% 40px 0;
	width: 30%;
}

#videos ul .last { margin: 0 0 40px; }

#videos ul img {
	border: 0;
	max-width: 100%;
}

#videos a { text-decoration: none; }

#videos .videoTitle {
	color: #333;
	font-family: 'latobold', sans-serif;
	font-weight: 700;
	margin: 10px 0 0;
}

#videos .videoDescription {
	color: #333;
	font-family: 'latoregular', sans-serif;
	font-weight: 400;
	margin: 0;
}

.videoMore {
	float: right;
	margin: 24px 0 0;
	width: 170px;
}





/*
	Shop
*/

.shopLogos div {
	float: left;
	text-align: center;
	width: 45%;
}

.shopLogos img { max-width: 100%; }

.shopLogos .amazon { margin: 2% 0 0 10%; }





/*
	Contact
*/

.contactContainer { margin: 20px 0; }

.contactContainer .column {
	float: left;
	width: 33%;
}

#name,
#email {
	border: 3px solid #CCC;
	color: #777;
	font-size: 16px;
	height: 50px;
	margin: 0 0 20px;
	outline: none;
	padding: 15px;
	width: 100%;
	-webkit-appearance: none;
}

#question {
	border: 3px solid #CCC;
	color: #777;
	font-size: 16px;
	height: 120px;
	margin: 0 5% 20px;
	outline: none;
	padding: 15px;
	width: 90%;
	-webkit-appearance: none;
}

#name:focus,
#email:focus,
#question:focus {
	border: 3px solid #64BB5D;
	box-shadow: none;
	-webkit-appearance: none;
}






/*
	Columns
*/

.columns {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-gap : 40px;
}

.columns p { text-align: justify; }





/*
	Social
*/


.twitter:hover { background-color: #5BBBED; }


.facebook:hover { background-color: #5a7ac7; }

.vimeo:hover { background-color: #7fdde7; }

.social a {
	color: #FFF;
	display: block;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	width: 50px;
}

.social div {
	background-color: #999;
	border-radius: 25px;
	display: inline-block;
	height: 50px;
	margin: 0 5px 40px;
	width: 50px;

	-webkit-transition: background-color 0.3s ease-in-out;
  	-moz-transition: background-color 0.3s ease-in-out;
  	-o-transition: background-color 0.3s ease-in-out;
  	transition: background-color 0.3s ease-in-out;
}

#container .social {
	background-color: #FFF;
	text-align: center;
}

#navigation .social {
	display: block;
	right: 0;
	position: absolute;
	top: 25px;
}

#navigation .social a {
	color: #FFF;
	font-size: 18px;
	text-decoration: none;
}

#navigation .social div {
	float: left;
	margin: 0 10px 0 0;
}

#navigation .social .emailTB {
	background-color: transparent;
	height: 79px;
	margin: -14px 0 0;
	width: 79px;
}

#navigation .emailTB a {
	background: url('../img/tomBullough.jpg') no-repeat 50% 50%;
	border: 2px solid #FFF;
	border-radius: 40px;
	height: 75px;
	width: 75px;
}




/*
	Footer
*/

#footer { background-color: #64BB5D; }

#footer .container { padding: 15px 20px; }

#footer p {
	color: #FFF;
	font-size: 12px;
	margin: 0;
	text-align: center;
}





/*
	Buttons
*/

.button {
	background-color: #FFF;
	border-bottom: 5px solid #999;
	color: #777;
	display: block;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 10px 10px 14px;
	text-decoration: none;
}

.button:hover { color: #333; }

.button:active,
.touch .button:hover { border-bottom: 5px solid #64BB5D; }

.button label { cursor: pointer; }

.button span {
	color: #64BB5D;
	float: right;
	font-size: 20px;
	padding: 0 0 0 10px;
}

.button-grey { background-color: #EEE; }

.button-green {
	background-color: #64BB5D;
	border-bottom: 5px solid #46943F;
	color: #FFF;
}

.button-green:hover { color: #FFF; }





/* 500px */

@media only screen and (max-width : 500px) {
	#videos ul li {
		float: none;
		margin: 0 0 40px;
		width: 100%;
	}
}

@media only screen and (min-width: 501px) and (max-width : 640px) {
	#container { margin-top: 300px; }
}

/* 580px */

@media only screen and (max-width : 600px) {
	.menuBand a { width: 46%; }

	.openMenu .menuBand { height: 262px; }
}

/* 640px */

@media only screen and (max-width : 640px) {
	#container { margin-top: 260px; }

	#navigation { height: 60px; }

	#navigation .navigationBand { height: 60px; }

	#menu {
		right: 10px;
		left: auto;
		top: 7px;
		width: 30px;
	}

	#menu a {
		height: 17px;
		padding: 6px 8px 10px 8px;
	}

	#navigation .social { display: none; }

	#menu label { display: none; }

	#menu .fui-list { padding: 0 5px; }

	#navigation .mainMenuLabel { display: none; }

	#logo { top: 10px; }

	#logo img { width: 50%; }

	#background {
		height: 200px;
		top: 60px;
	}

	#background .container {
		background-position: 100% 50%;
		height: 200px;
		padding: 25px 20px;
	}

	#background h1 {
		font-size: 32px;
		line-height: 32px;
	}

	.columns {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		-moz-column-gap: 40px;
		-webkit-column-gap : 40px;
	}

	.servicesList {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		-moz-column-gap: 0;
		-webkit-column-gap: 0;
	}

	.testimonialInformation {
		float: left;
		margin: 0;
		width: 85%;
	}

	.testimonialContent {
		float: left;
		margin: 0 0 0 15%;
		width: 85%;
	}

	#name,
	#email { width: 100%; }

	#question {
		margin: 0 0 20px;
		width: 100%;
	}

	.contactContainer .column {
		float: none;
		width: 100%;
	}

}
