body {
	font-family: 'Lato', sans-serif;
	line-height: 1.6em;
	margin: 0 auto;
	padding: 0;
}

.container {
	margin: 0 auto;
	padding: 55px 20px;
	position: relative;
	max-width: 900px;
}

/*
	Section Icons
*/

.sectionIcon {
	left: 50%;
	position: absolute;
	top: -35px;
	width: 0;
}

.sectionIcon div {
	background-color: #EEE;
	border-radius: 35px;
	height: 70px;
	left: -35px;
	position: relative;
	width: 70px;
}

h1, h2 {
	color: #64BB5D;
	font-family: 'BenchNine', sans-serif;
	text-transform: uppercase;
}

#about,
#testimonials,
#videos {
	background-color: #EEE;
}