---
layout: default
title: Tom Bullough
---

<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
		<script>
			WebFont.load({
				google: { families: ['Roboto Condensed:400', 'Roboto Condensed:700', 'Open Sans:400', 'Open Sans:700'] }
			});
		</script>

		<link rel="stylesheet" type="text/css" media="all" href="css/tombullough.css">
		<link rel="stylesheet" type="text/css" media="all" href="css/prettyPhoto.css">

	</head>

	<body>

		<div id="navigation">

			<div class="navigationBand">

				<div class="container">

					<div id="logo">
						<img src="img/tomBullough.png" />
					</div>

					<div id="menu">
						<a href="#" class="button"><label>Menu</label> <span class="tbi-menu"></span></a>
					</div>

					<div class="social">
						<div class="twitter">
							<a href="#"><span class="tbi-twitter"></span></a>
						</div>

						<div class="facebook">
							<a href="#"><span class="tbi-facebook"></span></a>
						</div>

						<div class="vimeo">
							<a href="#"><span class="tbi-vimeo"></span></a>
						</div>

						<div class="emailTB">
							<a href="#"></a>
						</div>

					</div>

				</div>

			</div>

			<div class="menuBand">

				<div class="container">

					<a class="button button-grey" href="#about">About <span class="tbi-about"></span></a>
					<a class="button button-grey" href="#articles">Articles <span class="tbi-articles"></span></a>
					<a class="button button-grey" href="#testimonials">Testimonials <span class="tbi-testimonials"></span></a>
					<a class="button button-grey" href="#services">Services <span class="tbi-services"></span></a>
					<a class="button button-grey" href="#golf">Golf <span class="tbi-golf"></span></a>
					<a class="button button-grey" href="#videos">Video <span class="tbi-video"></span></a>
					<a class="button button-grey" href="#shop">Shop <span class="tbi-shop"></span></a>
					<a class="button button-grey" href="#contact">Contact <span class="tbi-contact"></span></a>

				</div>

			</div>

		</div>

		<div id="background">
				
			<div class="banner banner-1"></div>
			<div class="banner banner-2"></div>

			<h1>I am Tom Bullough.<br />Developing athletes<br />to full potential.</h1>

		</div>

		<div id="container">

			<div id="about">
				{% include about.html %}
			</div>

			<div id="articles">
				{% include articles.html %}
			</div>

			<div id="testimonials">
				{% include testimonials.html %}
			</div>

			<div id="services">
				{% include services.html %}
			</div>

			<div id="golf">
				{% include golf.html %}
			</div>

			<div id="videos">
				{% include video.html %}
			</div>

			<div id="shop">
				{% include shop.html %}
			</div>

			<div id="contact">
				{% include contact.html %}
			</div>

			<div class="social">
				<div class="twitter">
					<a href="#"><span class="tbi-twitter"></span></a>
				</div>

				<div class="facebook">
					<a href="#"><span class="tbi-facebook"></span></a>
				</div>

				<div class="vimeo">
					<a href="#"><span class="tbi-vimeo"></span></a>
				</div>
			</div>

		</div>

		<div id="footer">
			<div class="container">
				<p>All rights reserved. &copy; Copyright Tom Bullough 2014.</p>
			</div>
		</div>

		<div id="toTop">
			<a class="button" href="#">Top</a>
		</div>

		<script type="text/javascript" src="js/modernizr.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.dropdown.js"></script>
		<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="js/jquery.formalize.min.js"></script>

		<script>

			// Vimeo
			var vimeoUserName = 'jonathanbidston',
				videosCallback = 'showThumbs',
				videosUrl = 'http://vimeo.com/api/v2/' + vimeoUserName + '/videos.json?callback=' + videosCallback;

			function init () {
				var head = document.getElementsByTagName('head').item(0),
					videosJs = document.createElement('script');	

				videosJs.setAttribute('type', 'text/javascript');
				videosJs.setAttribute('src', videosUrl);

				head.appendChild(videosJs);
			}

			function showThumbs (videos) {
				tbVideos = videos;
				vidsPerPage = 6;
				loadVidPage(tbVideos, 1, vidsPerPage);
			}

			function loadVidPage (videos, vidPage, vidsPerPage) {
				currentPage = vidPage;

				var videoStart = (vidPage - 1) * vidsPerPage,
					videoEnd = vidPage * vidsPerPage;

				for (var i = videoStart; i < videoEnd; i++) {
					if (i < videos.length) {

						var thumb = document.createElement('img');
						thumb.setAttribute('src', videos[i].thumbnail_large);
						thumb.setAttribute('alt', videos[i].title);
						thumb.setAttribute('title', videos[i].title);

						var a = document.createElement('a');

						if (Modernizr.mq('only screen and (max-width: 600px)') || Modernizr.mq('only screen and (max-height: 520px)')) {
							a.setAttribute('href', '//player.vimeo.com/video/' + videos[i].id);
						} else {
							a.setAttribute('href', videos[i].url);
							a.setAttribute('rel', 'prettyPhoto');
						}

						a.appendChild(thumb);

						var p = document.createElement('p');
						p.innerHTML = videos[i].title;
						p.className = "videoTitle";
						a.appendChild(p);

						var p2 = document.createElement('p');
						p2.innerHTML = videos[i].description;
						p2.className = "videoDescription";
						a.appendChild(p2);

						var vidClass = "";
						if ((i + 1) % 3 === 0) {
							vidClass = "last";
						}

						var li = document.createElement('li');
						li.className = vidClass;
						li.appendChild(a);

						var ul = document.getElementById('thumbs');
						ul.appendChild(li);
					
					} else {
						document.getElementById('showMoreThumbs').style.display = "none";
						break;
					}
				}

				var prettyPhotoSettings = {
					social_tools: false,
					deeplinking: false,
					slideshow: false
				}

				$('#videos a[rel="prettyPhoto"]').prettyPhoto(prettyPhotoSettings);

				$('#showMoreThumbs').on('click', function () {
					loadVidPage(tbVideos, currentPage + 1, vidsPerPage);
					return false;
				});
			}

			$(function(){
				init();
			});

			// Menu
	        $('#menu').on('click', function () {
	        	$('#navigation').toggleClass('openMenu');
	        	return false;
	        });

	        $('#navigation .menuBand a').on('click', function () {
				$('#navigation').removeClass('openMenu');

				$('html, body').animate({
					scrollTop: $($(this).attr('href') + ' .sectionIcon span').offset().top - $('#navigation').outerHeight() - 5
				}, {duration: 500});
		
				return false;
			});

	        // Scroll To Top Link
			$(function() {
				$(window).scroll(function () {
					var $this = $(this),
						$top = $('#toTop');

					if ($this.scrollTop() > 100 && !($top.hasClass('scrolling'))) {
						$top.fadeIn();	
					} else if ($this.scrollTop() <= 100) {
						$top.removeClass('scrolling');
						$top.fadeOut();
					}
				});
			 
				$('#toTop').on('click', function () {
					$(this).addClass('scrolling');
					$(this).fadeOut();
					$('body, html').animate({scrollTop: 0}, 800);
					return false;
				});	

				$('.touch #toTop').on('hover', function () {
					$(this).addClass('scrolling').fadeOut();
					$('body, html').animate({scrollTop: 0}, 800);
				});	
			});

			// Google Analytics
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-46288592-1', 'tombullough.co.uk');
			ga('send', 'pageview');

			// Form Submission
			$('#submit').on('click', function(){

				if (!$(this).hasClass('sent')) {

					var emptyField = false;

					$('#tbForm').find('input, textarea').each(function(){
						if ($(this).val() === "" || $(this).val() === "Message") {
							$(this).addClass("error");
							emptyField = true;
						} else {
							$(this).removeClass("error");
						}
					});

					if (!emptyField) {
						$.ajax({
							dataType: "jsonp",
							url: "http://getsimpleform.com/messages/ajax?form_api_token=cb07b81b6b2fe909c55d026ae18cc304",
							data: $("#tbForm").serialize()
						}).done(function(){
							$('#tbForm').find('input').val('');
							$('#tbForm').find('textarea').val('Message');
							
							$('#submit').addClass('sent').html('Thanks');
						});
					}
				}

				return false;
			});
		</script>

	</body>
</html>
