<div class="container">

	<div class="sectionIcon">
		<span class="fui-location"></span>
	</div>

	<h2>Contact</h2>

	<div class="contactContainer">
		
		<form action="http://getsimpleform.com/messages?form_api_token=cb07b81b6b2fe909c55d026ae18cc304" method="post">

			<div class="column">
				<input type="text" name="Name" id="name" placeholder="Name" />
				<input type="email" name="Email" id="email" placeholder="Email" />
			</div>

			<div class="column">
				<textarea id="question" name="question" onfocus="if (this.value === 'Message') { this.value = ''; }" onblur="if (this.value === '') { this.value = 'Message'; }">Message</textarea>	
			</div>

			<div class="column">
				<a class="button button-green" href="#" id="submit">Submit <span class="fui-arrow-right"></span></a>
				<input type="submit" style="display: none;" value="Send" id="submitHidden" />
			</div>

		</form>

	</div>

	<div class="clear"></div>

</div>