<h2>Services</h2>

<ul>
{% for service in site.data.services %}
  <li>{{ service.name }}</li>
{% endfor %}
</ul>

<div>
	<h3>Service 1 &pound;xx.xx (inc VAT)</h3>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<a href="">Arrange a session</a>
</div>

<div>
	<h3>Service 2 &pound;xx.xx (inc VAT)</h3>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<a href="">Arrange a session</a>
</div>

<div>
	<h3>Service 3 &pound;xx.xx (inc VAT)</h3>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<a href="">Arrange a session</a>
</div>