<div class="container">

	<div class="sectionIcon">
		<span class="fui-cmd"></span>
	</div>

	{% for service in site.data.servicesList %}
	
		{% if forloop.index == 1 %}
			<h2>{{ service.heading }}</h2>
			<ul class="servicesList">
		{% endif %}
	
		<li class="service{{ forloop.index }} "><span class="fui-check"></span> {{ service.title }}</li>

	{% endfor %}

	</ul>

	{% for service in site.data.services %}
  	
  		<div class="service">
	
			<h3>{{ service.title }}</h3>
			<div class="columns">{{ service.content }}</div>
			<a class="serviceArrange" href="">Arrange a session <span class="fui-calendar-solid"></span></a>
  			<div class="clear"></div>

  		</div>

	{% endfor %}

</div>