<h2>Services</h2>

<ul>
	<li>Service 1</li>
	<li>Service 2</li>
	<li>Service 3</li>
	<li>Service 4</li>
	<li>Service 5</li>
	<li>Service 6</li>
	<li>Service 7</li>
	<li>Service 8</li>
	<li>Service 9</li>
	<li>Service 10</li>
	<li>Service 11</li>
	<li>Service 12</li>
</ul>

<div>
	<h3>Service 1 &pound;xx.xx (inc VAT)</h3>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<a href="">Arrange a session</a>
</div>

<div>
	<h3>Service 2 &pound;xx.xx (inc VAT)</h3>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<a href="">Arrange a session</a>
</div>

<div>
	<h3>Service 3 &pound;xx.xx (inc VAT)</h3>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

	<a href="">Arrange a session</a>
</div>