<div class="container">

	<div class="sectionIcon">
		<span class="fui-lock"></span>
	</div>

	<h2>Shop</h2>

	<div class="columns">

		<p>Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop</p>

		<p>Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop</p>

	</div>

	<div class="shopLogos">
		<div class="ebay">
			<img src="img/ebay.png" width="195" />
		</div>

		<div class="amazon">
			<img src="img/amazon.png" width="197" />
		</div>
	</div>

	<div class="clear"></div>

</div>