<div class="container">

	<div class="sectionIcon">
		<span class="tbi-testimonials"></span>
	</div>

	{% for testimonial in site.data.testimonials %}
	
		{% if forloop.index == 1 %}
			<h2 class="sectionTitle testimonialTitle">{{ testimonial.heading }}</h2>
		{% endif %}
	
		<div class="testimonial">
			
			<div class="testimonialPhoto">
				<img src="{{ testimonial.image }}" />
			</div>
			
			<div class="testimonialInformation">
				<div class="testimonialSubTitle">#{{ forloop.index }} {{ testimonial.title }}</div>
				<div class="testimonialBrief">{{ testimonial.brief }}</div>
			</div>

			<div class="testimonialContent">
				{{ testimonial.content }}
			</div>

			<div class="clear"></div>

		</div>

	{% endfor %}

</div>