<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">

	</head>
	<body>

<h1>I am Tom Bullough. Developing athletes to full potential.</h1>

<section>

	<h2>About Tom Bullough</h2>

	<p>As a graduate from Sheffield Hallam University Tom achieved his Honours Degree in Sport and Exercise Science and immediately pursued his career in Strength and Conditioning by undertaking an Internship with Sale Sharks RFC. After a successful year working under the guidance of Nick Johnston, Tom was offered a full time position at with Northampton Saints RFC. Within the Saints Performance Department Tom emerged as a pivotal member of the team and developed into an excellent and accomplished practitioner. A dedicated and perceptive Strength and Conditioning coach, Tom has the great ability to communicate with athletes of all levels and gain the desired outcome – high performance every time!</p>

	<p>Toms appetite for learning and continued education has driven him to work with and receive guidance from some of the best practitioners in the industry namely Bill Knowles, Frans Bosch and Eric Cressey to name a few.</p>

	<p>During his time working with the Saints Senior team Toms main areas of specialism are shoulder injury prevention strategies and Maximal Strength development for rugby. His influence in these areas with the Senior squad is unquestionable.osteopaths, coaches and players.</p>

	<p>As an accomplished golfer Tom has a handicap of +1, so has 'real world appreciation' of the technical and physical needs of golf performance at the highest level. This website will be a resource to help you improve your flexibility, mobility, strength and ultimately your ability as a golfer, through specific strength and conditioning techniques.</p>

</section>

<section>

	<h2>Latest Articles</h2>

	<div>
		<h3>Article Titile 1</h3>

		<p>Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles</p>

		<p>Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles</p>
	</div>

	<div>
		<h3>Article Titile 2</h3>

		<p>Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles</p>

		<p>Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles Some info on articles</p>
	</div>

</section>

<section>

	<h2>Testimonials</h2>

	<div>
		<h3>#1 Phil Dowson (Northampton Saints, England)</h3>
		
		<p>Turned Pro in 1998 playing on the European Tour.</p>

		<p>Simon's biggest European Tour Prize was &pound;21,287.</p>

		<p>"Tom Bullough is a first class conditioner. His knowledge and experience make him priceless for the fitness and conditioning department of the Northampton Saints. Much more importantly, Tom is personable, energetic and competitive. This means that players in his care are pushed, engaged and get results. He has built a rapport with all the players in his care and that leads to a healthy, hard working and successful relationship. My personal development is in no small part due to his industry and patience. I count him as  integral to my career and also a good friend."</p>
	</div>

	<div>
		<h3>#2 Simon Lilly (Tour Golfer)</h3>

		<p>Turned Pro in 1998 playing on the European Tour</p>

		<p>Simon's biggest European Tour Prize was &pound;21,287</p>

		<p>"I have been a golf professional for nearly 15 years playing on many different world wide tours including European tour challenge tour, South African tour and Euro pro tour, I have done lots of gym work over the years but never really felt I was achieving my goals. Then in 2011 I met Tom through a very good friend and we starting working together. Tom put me through my paces and came up with many different programmes bespoke for me, my body has felt in great shape and I have had many good results over our time together. Tom has great knowledge and was fantastic in putting together our programmes to suit my goals. I feel the work we have done together has made a huge difference in my ability as a Golf professional."</p>
	</div>

	<div>
		<h3>#3 Nick Soto (PGA Professional)</h3>

		<p>Head Professional at Northampton Golf Club, and current coach to the Northamptonshire County Junior Team.</p>

		<p>"I would recommend strength &amp; conditioning coaching with Tom to anyone who is serious about improving their golf. Since working with Tom I have found massive improvements in posture, balance and range of movement in my swing as well as feeling generally fitter throughout the round. Toms background of working with Npton Saints and international rugby players enables him to motivate and get the absolute best out of his clients during every session"</p>
	</div>

</section>

<section>

	<h2>Services</h2>

	<ul>
		<li>Service 1</li>
		<li>Service 2</li>
		<li>Service 3</li>
		<li>Service 4</li>
		<li>Service 5</li>
		<li>Service 6</li>
		<li>Service 7</li>
		<li>Service 8</li>
		<li>Service 9</li>
		<li>Service 10</li>
		<li>Service 11</li>
		<li>Service 12</li>
	</ul>

	<div>
		<h3>Service 1 &pound;xx.xx (inc VAT)</h3>

		<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

		<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

		<a href="">Arrange a session</a>
	</div>

	<div>
		<h3>Service 2 &pound;xx.xx (inc VAT)</h3>

		<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

		<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

		<a href="">Arrange a session</a>
	</div>

	<div>
		<h3>Service 3 &pound;xx.xx (inc VAT)</h3>

		<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

		<p>Some info on services Some info on services Some info on services Some info on services Some info on services Some info on services</p>

		<a href="">Arrange a session</a>
	</div>

</section>

<section>

	<h2>Shop</h2>

	<p>Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop</p>

	<p>Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop Some info on shop</p>

</section>

{{ content }}

	</body>
</html>
